body{
    background: linear-gradient(skyblue,darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    text-align: center;
    border-style: inset;
    border-color: aqua;
    border-radius: 1rem;
}
#myp1{
    padding: 5px;
}